#============== Aneufinder configuration file ===============#

[General]
numCPU  =  2
reuse.existing.files  =  TRUE 

[Binning]
binsizes  = 10e+06
stepsizes = 5e+06
variable.width.reference  = 'BJ_diploid_ref2.bed'
reads.per.bin  =  NULL 
pairedEndReads  =  FALSE
chromosomes  =  c('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','X','Y') 
remove.duplicate.reads  =  FALSE
min.mapq  =  10
blacklist = 'GRCh38_blacklist_bothlymphdiploidref+chry.bed'
reads.store  =  FALSE 
use.bamsignals  =  FALSE 

[Correction]
correction.method  =  'GC'
GC.BSgenome  =  'BSgenome.Hsapiens.UCSC.hg38'
mappability.reference = NULL

[HiddenMarkovModel]
method  = 'edivisive'
eps  =  0.1 
max.time  =  60 
max.iter  =  -1 
num.trials  =  15 
 
states  =  c('zero-inflation','0-somy','1-somy','2-somy','3-somy','4-somy','5-somy','6-somy','7-somy','8-somy','9-somy','+10-somy') 
most.frequent.state  =  '2-somy' 
most.frequent.state.strandseq  =  '1-somy' 


[SCE]
resolution  =  c(3,6) 
min.segwidth  =  4 
bw  =  4e+06 
pval  =  0.05

[Plotting]
cluster.plots  =  TRUE
plotKaryogram = FALSE
